* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.main {
  background: #fff;
  padding: 25px;
  /* width: 100%; */
  /* max-width: 500px; */
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.main h2 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: grid;
  gap: 15px;
  
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input, select, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.full-width {
  grid-column: span 2;
}

.btn {
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #4472ee;
}

@media (min-width: 600px) {
  form {
    grid-template-columns: 1fr 1fr;
  }

  .btn {
    grid-column: span 2;
  }
}

.error {
    color: red;
}

.save1 {
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
  width: 207%;
}

.goBack {
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  margin: 5px;
}