* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #0a2540;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 20px;
  background: #f4f8fb;
}

.hero-text {
  max-width: 400px;
}

.hero-text h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.hero-text button {
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.hero-img img {
  width: 300px;
}

.features {
  text-align: center;
  padding: 50px 20px;
}

.feature-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  padding: 20px;
  background: #e5efff;
  border-radius: 8px;
  width: 200px;
}


.about {
  padding: 50px 20px;
  background: #f9fafb;
  text-align: center;
}

.contact {
  padding: 40px 20px;
  text-align: center;
}

footer {
  background: #0a2540;
  color: white;
  text-align: center;
  padding: 15px;
}
